@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========== NAVIGATIONS
====================
*/

/* STEPS */
.step {
    @apply w-1/4;

    .step-label {
        @apply text-xs text-center md:text-base text-secondary-300;
    
        &.current {
            @apply text-black;
        }
    }
    .step-separator {
        @apply relative mb-2;
    }
    .step-separator-container {
        @apply absolute 
        flex items-center align-middle content-center;
    
        width: calc(100% - 2.5rem - 1rem); 
        top: 50%; 
        transform: translate(-50%, -50%);
    }
    .step-separator-outline {
        @apply 
        w-full rounded
        bg-secondary-200 
        items-center align-middle flex-1;
    }
    .step-separator-bg {
        @apply 
        w-0 rounded
        bg-success-300 
        py-1;
    
        &.full {
           @apply w-full;
        }
    }
    .step-icon {
        @apply 
        w-10 h-10 
        mx-auto 
        bg-white 
        border-2 border-secondary-200 
        rounded-full 
        text-lg
        flex items-center;
    
        &.current {
            @apply bg-success-500 border-0;
        }
        &.done {
            @apply bg-success-400 border-0;
        }
    }
    .step-icon-content {
        @apply 
        text-center text-secondary-600 
        w-full;
    
        &.current {
            @apply text-white;
        }
    }
}

/* =========== FORMS
====================
*/
// .form-group {
//     @apply
//     flex flex-wrap 
//     rounded-md
// }   
// .form-label {
//     @apply 
//     whitespace-nowrap block 
//     text-sm font-bold text-secondary-700
// }
// .form-input {
//     @apply 
//     w-full h-10
//     block rounded-md 
//     border-secondary-300 focus:border-primary-500 
//     sm:text-sm 
//     focus:ring-primary-500 
// }
// .form-input-err {
//     @apply 
//     text-sm text-danger-500 
//     px-2 pt-2
// }

// .form-btn {
//     @apply 
//     flex justify-center items-center 
//     border border-transparent 
//     hover:bg-primary-600
//     focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500
//     font-bold 
//     rounded-md;
// }


.form-group {
    @apply
    flex flex-col md:flex-row justify-between md:gap-3
    rounded-md;
}   
.input-container {
    @apply
    flex flex-col md:flex-row flex-wrap justify-between gap-2
    w-full md:w-3/4 rounded-md;
}
.input-container-nowrap {
    @apply
    flex flex-col md:flex-row flex-nowrap justify-between gap-2
    w-full md:w-3/4 rounded-md;
}
.form-label {
    @apply 
    w-full md:w-1/4
    mb-2 md:mb-4
    whitespace-nowrap
    text-sm font-bold text-secondary-700;
}
.form-input {
    @apply 
    h-10 w-full rounded-md
    border-secondary-300 focus:border-primary-500 
    sm:text-sm 
    focus:ring-primary-500;
}
.form-input-err {
    @apply 
    w-full
    text-sm text-danger-500 
    px-2 md:px-0;
}

.form-btn {
    @apply 
    cursor-pointer
    flex justify-center items-center 
    border border-transparent 
    hover:bg-primary-600
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500
    font-bold 
    disabled:opacity-50 disabled:cursor-wait disabled:pointer-events-none
    rounded-md;
}

/* Sidebar */

.sidebar {
    @apply
    lg:w-64 flex-shrink-0 lg:h-screen 
    bg-white overflow-hidden border-r 
    mb-8 lg:mb-0
    sm:rounded-lg sm:rounded-b-none;
}
.sidebar-header {
    @apply 
    p-4
    bg-gradient-to-r from-primary-300 to-primary-600 
    text-center text-lg font-medium text-white
}
.sidebar-nav-item {
    @apply
    flex items-center
    lg:mt-5 py-3 px-4 lg:px-6
    w-full bg-gradient-to-r
    hover:from-secondary-100
    border-r-4 border-white hover:border-secondary-700
    text-secondary-600 hover:text-secondary-700 ;

    &.active {
        @apply
        from-secondary-100 text-primary-700 
        border-r-4 border-primary-700;
    }
}
.sidebar-nav-item-label {
    @apply
    mx-4
    font-medium;
}

/* Breadcrumbs */

/* Datatable Plugin */
// .dataTables-empty {
// 	@apply
//     p-4
//     text-center;
// }

// .dataTable-container {
//     td {
//         @apply
//         px-6 py-4 
//         whitespace-nowrap 
//         text-sm text-secondary-800;
//     }
// }

// .dataTable-top {
//     @apply
//     p-6
//     flex justify-between items-center;

//     .dataTable-search {
//         @apply
//         w-3/4
//         mr-4;
//     }
//     .dataTable-dropdown {
//         @apply
//         w-1/4;
//     }
//     input,select,textarea {
//         @apply 
//         h-10 w-full rounded-md
//         border-secondary-300 focus:border-primary-500 
//         sm:text-sm 
//         focus:ring-primary-500;        
//     }

//     label {
//         @apply
//         text-sm;    
//     }
// }

// .dataTable-bottom {
//     @apply
//     p-6
//     flex justify-between items-center flex-wrap gap-4
//     border-t;

//     .dataTable-info {
//         @apply
//         text-sm;
//     }

//     /* PAGER */
//     .dataTable-pagination ul {
//         @apply
//         m-0 pl-0;
//     }

//     .dataTable-pagination li {
//         // list-style: none;
//         @apply
//         float-left;
//     }

//     .dataTable-pagination {
//         // @apply
//         &-list {
//             @apply
//             rounded-md
//             relative z-0 inline-flex rounded-md shadow-sm;
//         }

//         a {
//             @apply
//             inline-flex items-center px-4 py-2 border text-sm font-medium
//             bg-white border-secondary-300 text-secondary-500 hover:bg-secondary-50
//             relative
//             no-underline;
//         }

//         & .active a {
//             @apply
//             hover:bg-secondary-300
//             hover:bg-secondary-300
//             cursor-pointer
//             bg-primary-50 border-primary-500 text-primary-600;
//         }

//         & .disabled a, &.ellipsis a {
//             @apply
//             cursor-not-allowed
//             hover:cursor-not-allowed	
//             focus:cursor-not-allowed
//             opacity-50;
//         }

//         & .pager {
//             a {
//                 @apply
//                 font-bold;
//             }

//             &:first-child a {
//                 @apply
//                 rounded-l-md;
//             }
//             &:last-child a {
//                 @apply
//                 rounded-r-md;
//             }
//         }
//     }

// }





/* Datatable Plugin */
.dataTables_empty {
	@apply
    p-4
    text-center;
}

.dataTables_info {
    @apply
    lg:w-1/2
    inline-block
    w-full
    text-center
    lg:text-left
    p-6
    text-sm;
}

/* PAGER */
.dataTables_paginate.paging_simple_numbers {
    @apply
    flex
    w-full
    justify-center
    p-6
    rounded-md;

    a {
        @apply
        inline-flex items-center px-4 py-2 border text-sm font-medium
        bg-white border-secondary-300 text-secondary-500 hover:bg-secondary-50
        relative
        cursor-pointer
        no-underline;
    }

    a.current{
        @apply
        hover:bg-secondary-300
        hover:bg-secondary-300
        cursor-pointer
        bg-primary-50 border-primary-500 text-primary-600;
    }

    a.disabled, a.ellipsis {
        @apply
        cursor-not-allowed
        hover:cursor-not-allowed	
        focus:cursor-not-allowed
        opacity-50;
    }

   .previous, .next  {
    @apply
    text-primary-500
    font-bold;
   }
   .previous {
    @apply
    text-primary-500
    rounded-l-md;
   }
   .next {
    @apply
    rounded-r-md;
   }

}

.dt-buttons {
    @apply
    bg-gradient-to-r from-white to-secondary-50
    flex gap-3
    p-6;
}
.dt-button {
    @apply 
    cursor-pointer
    inline-flex justify-center items-center
    px-4 py-2 
    border border-secondary-400
    text-secondary-600 
    hover:bg-secondary-100
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500
    font-bold uppercase text-xs
    disabled:opacity-50 disabled:cursor-wait disabled:pointer-events-none
    rounded-md;

    &.buttons-copy {
        @apply
        border-secondary-400
        text-secondary-400;
    }
    &.buttons-csv {
        @apply
        border-success-400
        text-success-400;
    }
    &.buttons-excel {
        @apply
        border-success-700
        text-success-700;
    }
    &.buttons-pdf  {
        @apply
        border-danger-500
        text-danger-500;
    }
    &.buttons-print {
        @apply
        border-blue-500
        text-blue-500;
    }
    &.buttons-collection {
        @apply
        border-primary-500
        text-primary-500;
    }  
}
.dataTables_filter {
    @apply
    bg-gradient-to-r from-white to-secondary-50
    flex
    w-full
    p-6;
    
    label {
        @apply
        text-sm  
    }

    input,select,textarea {
        @apply 
        h-10 w-full rounded-md
        border-secondary-300 focus:border-primary-500 
        sm:text-sm 
        focus:ring-primary-500;        
    }
}


.dt-button-collection {
    [role="menu"] {
        @apply
        flex flex-wrap 
        space-y-2
        w-96
        h-80
        overflow-y-auto
        bg-white
        p-4
        shadow-2xl;

        .buttons-colvis {
            @apply
            inline-block
            w-1/2;
        }
        .dt-button {
            @apply
            flex justify-center items-center
            w-full;
        }
    }
}
.dt-button-collection header {
    @apply
    w-full
    my-3 py-3
    border-b
    font-bold text-left;
}

.buttons-columnVisibility.active {
    @apply
    bg-primary-600
    text-white;
}
